<html>
    <head>
        <meta charset="utf-8" />
        <title>Obtén enlaces externos de páginas - AFD</title>
        <link
            rel="shortcut icon"
            href="{{url_for('static',filename='images/logo.png')}}"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="{{url_for('static',filename='styles/front.css')}}"
        />
        <script
            src="https://kit.fontawesome.com/10a83cea79.js"
            crossorigin="anonymous"
        ></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").fadeOut(600);
                }, 5000);
            });
        </script>
        <script>
            function update() {
                var element = document.getElementById("progress");
                var width = 1;
                var identity = setInterval(scene, 8);
                function scene() {
                    if (width >= 100) {
                        clearInterval(identity);
                        element.style.visibility = "hidden";
                        element.style.opacity = 0;
                        element.style.transition =
                            "visibility 0s 0.8s, opacity 0.8s linear";
                    } else {
                        width += 0.5;
                        element.style.width = width + "%";
                        element.style.visibility = "visible";
                        element.style.opacity = 1;
                        element.style.transition = "opacity 0.8s linear";
                    }
                }
            }
        </script>
    </head>
    <body>
        {% with messages = get_flashed_messages(category_filter=["notify"]) %}
        {% if messages %} {% for message in messages %}
        <div class="alert"><div>{{message}}</div></div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="bar">
            <div id="progress"></div>
        </div>
        <header class="header">
            <div class="header-container">
                <nav class="nav">
                    <div class="nav-logo">
                        <a
                            href="#"
                            class="nav-logo__link"
                            title="Recargar página de inicio"
                            ><img
                                class="nav-logo__image"
                                src="{{url_for('static',filename='images/logo.webp')}}"
                                alt="Logo Softness"
                            />Softness</a
                        >
                    </div>
                    <div class="nav-menu">
                        <ul class="nav-menu__item">
                            <li>
                                <div class="switch">
                                    <div class="switch-content">
                                        <input
                                            id="mark"
                                            type="checkbox"
                                            onchange="dark()"
                                        />
                                        <label
                                            id="mark-label"
                                            for="mark"
                                        ></label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/203721/AFD/tree/Develop-Bryan"
                                    class="nav-menu__link"
                                    ><i class="fa-brands fa-github"></i
                                    >&nbsp;Github</a
                                >
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="hero">
                    <div class="hero-text">
                        <h1 class="hero-text__main">Obtén enlaces externos,</h1>
                        <p class="hero-text__subs">de cualquier página.</p>
                        <div class="hero-btn">
                            <form class="form" method="POST">
                                <input {% with messages =
                                get_flashed_messages(category_filter=["text"])
                                %} {% if messages %} {% for message in messages
                                %} value = {{message}} {% endfor %} {% endif %}
                                {% endwith %} class="form__input" name="url"
                                type="text" placeholder="Pega aquí tu URL :)" />
                                <input
                                    onclick="update()"
                                    class="btn"
                                    type="submit"
                                    value="Obtener"
                                />
                            </form>
                        </div>
                    </div>
                    <div class="hover-animation">
                        <div class="hover-animation__image">
                            <figure>
                                <img
                                    src="{{url_for('static',filename='images/chain.png')}}"
                                />
                            </figure>
                        </div>
                    </div>
                    <div class="footer-mobile">
                        <div class="footer-container">
                            <div class="footer-text">
                                <p>Bryan Alexander Morales Roblero</p>
                                <h3>AFD - Extractor de URL's externos</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <footer class="footer-desktop">
            <div class="footer-container">
                <div class="footer-text">
                    <p>Bryan Alexander Morales Roblero</p>
                    <h3>AFD - Extractor de URL's externos</h3>
                </div>
            </div>
        </footer>
    </body>
    <script>
        checkbox = document.getElementById("mark");
        checkbox.checked = eval(window.localStorage.getItem(checkbox.id));
        checkbox.addEventListener("change", function () {
            window.localStorage.setItem(checkbox.id, checkbox.checked);
        });
        function dark() {
            same1 = [];
            const background = "dark-background";
            const hover = "dark-hover";
            const text = "dark-text";
            const shadow = "dark-shadow";
            const shadows = "dark-shadows";
            const inner = "dark-inner";
            var body = document.body;
            body.classList.toggle(background);
            var menu = document.getElementsByClassName("nav-menu__link");
            menu[0].classList.toggle(hover);
            var logo = document.getElementsByClassName("nav-logo__link");
            var main = document.getElementsByClassName("hero-text__main");
            var subs = document.getElementsByClassName("hero-text__subs");
            same1.push(logo, main, subs);
            same1.forEach(function (element) {
                element[0].classList.toggle(text);
            });
            var changer = document.getElementById("mark-label");
            changer.classList.toggle(shadow);
            var btn = document.getElementsByClassName("btn");
            btn[0].classList.toggle(shadows);
            var input = document.getElementsByClassName("form__input");
            input[0].classList.toggle(inner);
        }
        if (checkbox.checked) {
            dark();
        }
    </script>
</html>
